<template>
  <div class="full-width center-content">
    <web3-test title="Web3 Test" />
  </div>
</template>

<script>
import Web3Test from './components/web3-test.vue'

export default {
  components: {
    Web3Test
  }
}
</script>
