<template>
  <div class="container">
    <h2>Contract</h2>
    Amount ETH: <input
      v-model="amount"
      placeholder="0 Ether">
    <div class="row">
      <button
        type="button"
        @click="activate">Activate</button>
    </div>
    <div class="row">
      <p>Player Address: <span v-if="buyEvent">{{ buyEvent.playerAddress }}</span></p>
      <p>Eth in: <span v-if="buyEvent">{{ buyEvent.ethIn }}</span></p>
      <p>keys bought: <span v-if="buyEvent">{{ buyEvent.keysBought }}</span></p>
      <button
        type="button"
        @click="buy">Buy keys</button>
    </div>
    <div class="row">
      <p>Time left: {{ timeLeft }}</p>
      <p>Time end: {{ timeEnd }}</p>
      <p>Key price: {{ buyPrice }}</p>
      <p>Total keys: {{ totalKeys }}</p>
      <button
        type="button"
        @click="getTotalInfo">Refresh</button>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      amount: null,
      pending: false,
      buyEvent: null,
      timeLeft: null,
      timeEnd: null,
      buyPrice: null,
      totalKeys: null
    }
  },
  mounted () {
    this.$store.dispatch('getContractInstance')
  },
  methods: {
    activate (event) {
      this.pending = true
      this.$store.state.contractInstance().activate({
        gas: 100000,
        gasPrice: 2000000000,
        value: 0,
        from: this.$store.state.web3.coinbase
      }, (err, result) => {
        this.pending = false
        if (err) {
          console.log(err)
        } else {
          console.log(result)
        }
      })
    },
    buy (event) {
      this.pending = true
      this.buyEvent = null
      this.$store.state.contractInstance().buyKeys({
        gas: 100000,
        gasPrice: 2000000000,
        value: this.$store.state.web3.web3Instance().toWei(this.amount, 'ether'),
        from: this.$store.state.web3.coinbase
      }, (err, result) => {
        if (err) {
          console.log(err)
          this.pending = false
        } else {
          let BuyKeysEvent = this.$store.state.contractInstance().BuyKeysEvent()
          BuyKeysEvent.watch((err, result) => {
            debugger
            this.pending = false
            if (err) {
              console.log('could not get event BuyKeysEvent')
            } else {
              this.buyEvent = result.args
            }
          })
        }
      })
    },
    getTotalInfo (event) {
      this.pending = true
      this.$store.state.contractInstance().getTotalInfo({
        gas: 100000,
        gasPrice: 2000000000,
        value: 0,
        from: this.$store.state.web3.coinbase
      }, (err, result) => {
        this.pending = false
        if (err) {
          console.log(err)
        } else {
          let [timeLeft, timeEnd, buyPrice, totalKeys] = result
          this.timeLeft = timeLeft.toString()
          this.timeEnd = timeEnd.toString()
          this.buyPrice = buyPrice.toString()
          this.totalKeys = totalKeys.toString()
        }
      })
    }
  }
}
</script>

<style lang="stylus" scoped>
button
  width 100px
.row
  margin 10px 0
</style>
