<template>
  <div class="container">
    <h2>{{ title }}</h2>
    <metamask-info/>
    <contract/>
  </div>
</template>

<script>
import MetamaskInfo from './metamask-info.vue'
import Contract from './contract.vue'

export default {
  components: {
    'metamask-info': MetamaskInfo,
    'contract': Contract
  },
  props: {
    title: {
      type: String,
      required: true
    }
  },
  beforeCreate () {
    this.$store.dispatch('registerWeb3')
  }
}
</script>

<style lang="stylus" scoped>
h1, h2, h3, h4, h5
  color blue
.container
  width 40%
  justify-content left
</style>
